<%= link_to 'Create a new cocktail for geeks', new_cocktail_path %>

<h1>Cocktails validated by geeks</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
